services:
  api:
    build: .
    ports:
      - "80:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_URL: jdbc:mysql://vlog-db.c1miguogu7jm.ap-northeast-2.rds.amazonaws.com:3306/vlog
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    restart: unless-stopped